<!doctype html>
<html>
  <head>
    <title>Web Console Mock</title>
    {{ if eq .Ref "" }}
      <script src="/public/js/console.js"></script>
    {{ else }}
      <script src="/github/{{.Ref}}/public/js/console.js"></script>
    {{ end }}
  </head>
  <body>
    <h1>Web Console Mock</h1>
    <p>Try TAB key on console :-)</p>
    {{ if eq .Ref "" }}
      <div id="console" data-session-id="fake"></div>
    {{ else }}
      <div id="console" data-session-id="fake/{{ .Ref }}"></div>
    {{ end }}
    <script>
      REPLConsole.installInto('console');
    </script>
  </body>
</html>
